# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
weltmeister.html
lib/impact/animation.js
lib/impact/background-map.js
lib/impact/collision-map.js
lib/impact/debug/debug.css
lib/impact/debug/debug.js
lib/impact/debug/entities-panel.js
lib/impact/debug/graph-panel.js
lib/impact/debug/maps-panel.js
lib/impact/font.js
lib/impact/entity.js
lib/impact/game.js
lib/impact/image.js
lib/impact/impact.js
lib/impact/input.js
lib/impact/loader.js
lib/impact/map.js
lib/impact/sound.js
lib/impact/system.js
lib/impact/timer.js
lib/impact/entity-pool.js
lib/impact/debug/menu.js
lib/plugins/camera.js
lib/weltmeister/api/browse.php
lib/weltmeister/api/config.php
lib/weltmeister/api/glob.php
lib/weltmeister/api/save.php
lib/weltmeister/arrow.png
lib/weltmeister/collisiontiles-64.png
lib/weltmeister/config.js
lib/weltmeister/edit-entities.js
lib/weltmeister/edit-map.js
lib/weltmeister/entities.js
lib/weltmeister/evented-input.js
lib/weltmeister/jquery-1.7.1.min.js
lib/weltmeister/jquery-ui-1.8.1.custom.min.js
lib/weltmeister/modal-dialogs.js
lib/weltmeister/select-file-dropdown.js
lib/weltmeister/tile-select.js
lib/weltmeister/undo.js
lib/weltmeister/weltmeister.css
lib/weltmeister/weltmeister.js
tools/bake.bat
tools/bake.php
tools/bake.sh
tools/jsmin.php
